.header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  text-decoration: none;
  color: #a1a1aa;
  background: #27272a;
  text-decoration: none;

  position: relative;

  border-bottom: 1px solid #414144;

  .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1896px;
    padding: 0 0 0 24px;
    height: 44px;
  }

  .navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    height: 100%;
    position: relative;
  }

  .active-link {
    position: relative;
    text-decoration: none;
    color: #ffffff;
  }
  .active-link:after {
    position: absolute;
    content: '';
    bottom: -14px;
    left: -4px;
    width: 110%;
    border-bottom: 2px solid #ffffff;
  }

  .noactive-link {
    color: #a1a1aa;
    text-decoration: none;
  }
}

.header::after {
  position: absolute;
  content: '';
  bottom: -44px;
  left: 0;
  width: 99vw;
  border-bottom: 1px solid #414144;
}
